* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
    font-family: 'Inter', sans-serif;
}

body {
    overflow: hidden;

}

/*sidebar*/
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

a p {
    color: aliceblue;
    font-family: 'Inter', sans-serif;
    font-weight: 550;
}

#icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.sidebar {
    position: absolute;
    display: block;
    justify-content: center;
    align-items: center;
    background: #221B66;
    margin: 10px;
    max-width: 110px;
    min-width: 90px;
    height: 97%;
    border-radius: 35px;
}

.logo-sidebar {
    position: relative;
    margin-top: 20%;
    margin-left: 6px;
}

.sair {
    position: absolute;
    list-style: none;
    top: 90%;
}

.center {
    justify-content: center;
    align-items: center;
    list-style: none;
    margin-top: 14vh;
    display: flex;
    gap: 9vh;
    flex-direction: column;
}

#icons:hover {
    filter: invert(20%);
}

/*dropdown*/
.dropdown {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f8f8f8;
    width: 250px;
    height: 45px;
    border-radius: 50px;
    box-shadow: 0px 0px 21px 1px #231b6625;

}

.turma {
    color: #78787A;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: normal;
    padding: 10px;
    margin-right: 10px;


}

#salas {
    border-radius: 50px;
    border: none;
    background: transparent;
    font-family: 'Inter', sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: normal;
    color: #4032C5;

}

/*area de trabalho*/
.area-de-trabalho {
    background: #ffffff;
    display: grid;
    margin-left: 130px;
    margin-right: 20px;
    height: 100vh;
    grid-template-rows: 120px auto;
    grid-template-areas:
        'dopdown content demo-presença'
        'lista-alunos lista-alunos lista-alunos';
    padding-right: 10px;
    padding-top: 10px;
    gap: 20px;
}

.dropdown {
    background: #fcfcfc;
    grid-area: dopdown;
}

.demo-presença {
    background: #fefefe;
    grid-area: demo-presença;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    margin-top: 40px;
    box-shadow: 0px 0px 21px 1px #231b6625;
    gap: 60px;
}
#demo{
    display: flex;
    align-items: center;
    gap: 30px;
}

.lista-alunos {
    background: rgb(255, 255, 255);
    grid-area: lista-alunos;
    height: 800px;
    margin-top: 10px;
    border-radius: 30px;
    padding: 50px;
    display: grid;
    align-items: center;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto;
    box-shadow: 0px 0px 21px 1px #231b6644;
}

#alunos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:15px;
}

#alunos:hover{
    cursor: pointer;
}
